*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link_verde{
    color:green!important;
}

.alto{
    height:100vh;
}

.filter{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}
.no-filter{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.pantalla_divida{
    display:flex;
    height: 70vh;
    margin-top:30px;
}


.pantalla_izquierda{
    width: 50%;
    background-image: url("image/honolulu.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;

}

.pantalla_derecha{
    width: 50%;
    height: 70vh;
    background-color: rgb(44, 43, 43);
    padding: 10px;
    color:white;
    font-size: 1rem;
}

.formulario{
    margin-left:20%;
    margin-right:20%;
}

.menu_footer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-image: linear-gradient(to right,#1d3e51 , #1e5170 100%);
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.menu_footer a {
    text-decoration: none;
    color: white;
}


@media (max-width:760px){

    .pantalla_divida{
        flex-direction: column;
        height: 100vh;
    }

    .pantalla_izquierda{
        width: 100%;
        height: 50%;
    }

    .pantalla_derecha .h2{
        font-size: 0.9rem;
    }
    
    .pantalla_derecha{
        width: 100%;
        height: 50%;
        padding: 10px;
        font-size: 0.8rem;
    }
}